.todo-list {
    background-color: #ffffff;
}
.container {
    padding: 3.2rem 5.6rem;
    box-shadow: 0 0 6px #d4d4d4;
}
.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.todo-item:last-child {
    margin-bottom: 0;
}
.todo-item > input[type="checkbox"] {
    margin-right: 3px;
}
.todo-item > label {
    font-size: 1.8rem;
}
label.display-status {
    color: green;
    text-decoration: line-through;
}